
WsAdminPro/nbproject/private/private.properties
*.properties
*.properties
*.xml
*.properties
*.class
WsAdminPro/build/web/WEB-INF/classes/.netbeans_automatic_build
*.properties
WsAdminPro/build/web/WEB-INF/classes/.netbeans_update_resources
*.properties
/UnaPlanillaWs3/target/
/WsAdminPro/nbproject/private/
WsAdminPro/nbproject/private/private.properties
WsAdminPro/nbproject/private/private.properties
WsAdminPro/nbproject/private/private.properties
WsAdminPro/build/web/pfv3ee6.dpf
/WsAdminPro/dist/
WsAdminPro/nbproject/private/private.properties
*.properties
*.properties
WsAdminPro/nbproject/private/private.properties
WsAdminPro/nbproject/private/private.properties
